@for (player of game.players; track player; let index = $index) {
<app-player
  class="player_position"
  [style]="{ top: 100 + index * 120 + 'px' }"
  [name]="player"
></app-player>
}

<div class="field">
  <div class="card_stack">
    @for (card of cards;track card; let index = $index) {
    <img
      src="assets/img/cards/card_cover.png"
      [style.transform]="
        'translate(' + +index * 10 + 'px, ' + index * 5 + 'px)'
      "
    />
    }
    <img
      (click)="takeCard()"
      class="top_card"
      style="left: 40px; top: 20px"
      src="assets/img/cards/card_cover.png"
    />
    @for (playedCard of game.playedCards; track playedCard) {
    <img
      class="played_card"
      src="assets/img/cards/{{ playedCard }}.png"
      alt=""
    />
    } @if (pickCardAnimation) {
    <img
      (click)="takeCard()"
      class="pick_card"
      style="left: 40px; top: 20px"
      src="assets/img/cards/{{ currentCard }}.png"
    />}
  </div>
</div>

<button mat-fab color="primary" class="btn_add">
  <mat-icon>add</mat-icon>
</button>
