@for (player of game.players; track player; let index = $index) {
<app-player
  (click)="editPlayer(index)"
  class="player_position hide_mobile"
  [style]="{ top: 100 + index * 90 + 'px' }"
  [playerActive]="index == game.currentPlayer"
  [name]="player"
  [image]="game.player_avatars[index]"
></app-player>
}

<div class="scroll_container hide_desktop">
  @for (player of game.players; track player; let index = $index) {
  <app-player-mobile
    (click)="editPlayer(index)"
    [playerActive]="index == game.currentPlayer"
    [name]="player"
    [image]="game.player_avatars[index]"
  ></app-player-mobile>
  }
</div>

@if (!gameOver) {
<div class="field">
  <div class="card_stack">
    @for (card of cards;track card; let index = $index) {
    <img
      src="assets/img/cards/card_cover.png"
      [style.transform]="
        'translate(' + +index * -10 + 'px, ' + index * -5 + 'px)'
      "
    />
    }
    <img
      (click)="takeCard()"
      class="top_card"
      style="left: -40px; top: -20px"
      src="assets/img/cards/card_cover.png"
    />
    @for (playedCard of game.playedCards; track playedCard) {
    <img
      class="played_card"
      src="assets/img/cards/{{ playedCard }}.png"
      alt=""
    />
    } @if (game.pickCardAnimation) {
    <img
      (click)="takeCard()"
      class="pick_card"
      style="left: -40px; top: -20px"
      src="assets/img/cards/{{ game.currentCard }}.png"
    />}
  </div>
</div>

<app-game-info [card]="game.currentCard" class="pin-bottom"></app-game-info>

<button mat-fab color="primary" class="btn_add" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>
} @else {
<div class="endscreen">
  <img src="./../../assets/img/game_over.png" alt="" />
</div>
}
